body {
    height: 100vh;
    background-image: 
        linear-gradient(45deg, rgb(76,0,255), transparent),
        repeating-linear-gradient(45deg, rgb(183,0,255) 0%, rgb(183,0,255) 5%, transparent 5%, transparent 10%, rgb(183,0,255) 10%, rgb(183,0,255) 0% 11%, transparent 11%, transparent 13%, rgb(216,118,255), transparent 13%),
        repeating-linear-gradient(-45deg, rgba(183,0,255,0.5) 0%, rgba(183,0,255,0.5) 5%, transparent 5%, transparent 10%);
}

#title {
    font-family: 'Lobster', sans-serif;
    font-size: 80px;
    padding: 20px 0 40px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#data-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
}

input {
    border: 1px solid black;
    border-radius: 20px;
}

.center {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: auto 50px;
    height: 300px;
    border: 2px black solid;
    border-radius: 50px;
    display: inline-block;
    background-color: #FEFEFE;
    font-family: 'Gotu', sans-serif;
    box-shadow: 5px 5px 5px black;
}

#data-input {
    width: 325px;
}

#offset {
    width: 60px;
}

.button {
    width: 130px;
    height: 25px;
    font-weight: bold;
    margin: 0 9px;
    border-radius: 5px;
    border-color:purple;
}

.button:hover {
    cursor: pointer;
}

.button:hover span{
    padding-right: 13px;
    transition: 1000ms;
}

button:hover span:after{
    content: '\00bb';
    padding-left: 5px;
}

button:active {
    transform: scale(1.1);
}

#botao-limpar {
    height: 25px;
    width: 70px;
    border-radius: 15px;
    border-color: red;
}

#botao-limpar:hover {
    background-color: rgb(223, 30, 30);
    color: white;
}

